/* -------advantages------- */

.advantages-list {
	// display: flex;
	// justify-content: center;
	@include tab {
		display: flex;
		flex-wrap: wrap;

		margin: -15px;
		margin-bottom: 0;
	}

	@include desk {
		display: flex;
		justify-content: center;
	}
}

.advantages-item {
	@include tab {
		width: 354px;
	}

	@media screen and (max-width: 1199px) {
		margin: 15px;
	}

	@include desk {
		width: 270px;
		&:not(:first-child) {
			margin-left: 30px;
		}
	}
}

.advantages-item__icon {
	width: 270px;
	height: 120px;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	border-radius: 4px;

	background-color: var(--team-bg-color);

	@include tab {
		width: 354px;
	}

	@include desk {
		width: 270px;
	}
}

.advantages-item__title {
	margin-bottom: 10px;
	text-align: center;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.advantages-item__text {
	font-size: 14px;
	line-height: 1.71;
	color: var(--primary-text-color);
}
