.button {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.87;

	border: none;
	border-radius: 4px;

	cursor: pointer;
}

//------hero------

.hero-button {
	display: block;
	padding: 10px 32px;
	margin: auto;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	letter-spacing: 0.06em;

	color: var(--primary-white-color);
	background-color: var(--accent-color);

	transition: background-color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		background-color: var(--accent-color-hover);
	}
}

//------footer------

.input-wrap__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	letter-spacing: 0.06em;

	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	@include tel {
		width: 200px;
	}

	@include desk {
		margin-left: 12px;
		margin-top: 0;
	}
}

//------hero-modal------

.btn-submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;

	line-height: 1.87;
	letter-spacing: 0.06em;

	color: var(--primary-white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	background-color: var(--accent-color);
	outline-color: transparent;
	transition: outline-color var(--animation-duration) var(--timing-function);

	&:focus {
		outline-color: var(--accent-color);
	}
}

//------portfpholio------

.work-button {
	padding: 6px 22px;

	font-weight: 500;
	line-height: 1.62;

	transition: background-color var(--animation-duration) var(--timing-function),
		color var(--animation-duration) var(--timing-function), box-shadow var(--animation-duration) var(--timing-function);

	&--current {
		color: var(--primary-white-color);
		background-color: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}

	&:hover,
	&:focus {
		cursor: pointer;
		color: var(--primary-white-color);
		background-color: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
}
