/* -------clients------- */

.clients-title {
	margin-top: 0;
	margin-bottom: 30px;

	@include desk {
		margin-bottom: 50px;
	}
}

.clients-list {
	display: flex;

	flex-wrap: wrap;
	margin: -15px;

	@include desk {
		flex-wrap: nowrap;
	}
}

.clients-item {
	margin: 15px;
	width: calc(100% / 2 - 30px);

	@mixin tab {
		width: calc(100% / 3 - 30px);
	}
}

.clients-item__link {
	display: flex;
	justify-content: center;

	height: 92px;

	border: 1px solid var(--social-links);
	border-radius: 4px;
	color: var(--social-links);

	transition: color var(--animation-duration) var(--timing-function),
		border-color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
		border-color: var(--accent-color);
	}

	@mixin desk {
		width: 170px;
	}
}

.clients__logo {
	height: 100%;

	fill: currentColor;
}
