/* -------footer------- */

.footer-wrap-all {
	@mixin desk {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}
}

.footer-wrap-left {
	@mixin tab {
		display: flex;
		align-items: baseline;

		justify-content: space-between;
		max-width: 603px;
		margin-left: auto;
		margin-right: auto;
	}
}

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--footer-bg-color);
}

.footer-adress {
	text-align: center;

	@mixin desk {
		text-align: left;
	}
}

.footer-adress__item:not(:last-child) {
	margin-bottom: 8px;

	@mixin desk {
		margin-bottom: 9px;
	}
}

.footer-map {
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	color: var(--primary-white-color);

	transition: color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-contact {
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	color: rgba(255, 255, 255, 0.6);

	transition: color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.footer-socials {
	width: 100%;
	max-width: 206px;
	height: 80px;

	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

.footer-socials-list {
	@mixin tel {
		width: 206px;
	}

	@mixin tab {
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
	}

	@mixin desk {
		height: 80px;
		margin-left: 70px;
	}
}

.footer-socials__title {
	text-align: center;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	margin-bottom: 20px;

	color: var(--primary-white-color);
	text-transform: uppercase;

	@mixin desk {
		text-align-last: left;
	}
}

.footer-socials-list {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@mixin tel {
		flex-wrap: wrap;
	}
}

.footer-social-list__link {
	display: block;
	border-radius: 50%;
	width: 44px;
	height: 44px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.1);
	fill: var(--primary-white-color);

	transition: background-color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}

.footer-wrap-right {
	margin-top: 60px;

	@mixin desk {
		margin-top: 0;
	}
}

.footer-form__label {
	display: block;
	text-align: center;

	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	color: var(--primary-white-color);

	@mixin desk {
		text-align-last: left;
	}
}

.input-wrap {
	@mixin desk {
		display: flex;
	}
}

.input-wrap__input {
	display: block;
	width: 100%;

	height: 50px;
	padding: 15px 16px;

	border-radius: 4px;
	color: var(--primary-white-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;

	&::placeholder {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.25;
		color: rgba(255, 255, 255, 0.6);
	}

	@mixin tel {
		width: 450px;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: auto;
		margin-right: auto;
	}

	@mixin desk {
		width: 358px;
	}
}

.send-icon {
	margin-left: 10px;
	fill: var(--primary-white-color);
}
