.hero-section {
	margin-left: auto;
	margin-right: auto;
	padding: 118px 0;

	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/index/hero/hero-mob.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	@media screen and (max-width: 480px) {
		max-width: 480px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/index/hero/hero-mob.jpg");
		@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/index/hero/hero-mob@2x.jpg");
		}
	}

	@media screen and (min-width: 481px) {
		max-width: 768px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/index/hero/hero-tablet.jpg");
		@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/index/hero/hero-tablet@2x.jpg");
		}
	}

	@media screen and (min-width: 769px) {
		padding: 200px 0;
		max-width: 1600px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/index/hero/hero-desktop.jpg");
		@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/index/hero/hero-desktop@2x.jpg");
		}
	}

	@media screen and (max-width: 1199px) {
		height: 400px;
	}

	@include desk {
		height: 600px;
	}
}

.hero-title {
	margin-bottom: 30px;

	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	@media screen and (max-width: 479px) {
		font-size: 23px;
	}

	@media screen and (min-width: 480px) and (max-width: 1199px) {
		font-size: 26px;
		line-height: 1.62;
	}
}
