.logo {
	font-family: Raleway;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.16;
	color: var(--accent-color);

	@mixin desk {
		font-size: 26px;
		line-height: 1.19;
	}
}

//------nav------

.logo-nav {
	display: flex;
	padding: 16px 0;

	@mixin tab {
		padding: 26px 0;
	}

	@mixin desk {
		padding: 24px 0;
	}
}

.logo-nav--accent {
	color: var(--title-text-color);

	transition: color var(--animation-duration) var(--timing-function);

	.logo-nav:hover &,
	.logo-nav:focus & {
		color: var(--accent-color);
	}
}

//------footer------

.footer-logo {
	display: block;
	margin-bottom: 20px;

	text-align: center;

	@mixin tel {
	}

	@mixin tab {
	}

	@mixin desk {
		text-align: left;
	}
}

.footer-logo--accent {
	color: var(--primary-white-color);
	transition: color var(--animation-duration) var(--timing-function);

	.footer-logo:hover &,
	.footer-logo:focus & {
		color: var(--accent-color);
	}
}
