.logo {
	font-family: Raleway;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
	color: var(--accent-color);
}

//------nav------

.logo-nav {
	padding: 24px 0;
}

.logo-nav--accent {
	color: var(--title-text-color);

	transition: color var(--animation-duration) var(--timing-function);

	.logo-nav:hover &,
	.logo-nav:focus & {
		color: var(--accent-color);
	}
}

//------footer------

.footer-logo {
	display: block;
	margin-bottom: 20px;
}

.footer-logo--accent {
	color: var(--primary-white-color);
	transition: color var(--animation-duration) var(--timing-function);

	.footer-logo:hover &,
	.footer-logo:focus & {
		color: var(--accent-color);
	}
}
