/* -------hero-modal------- */

.hero-backdrop {
	position: fixed;

	visibility: visible;
	opacity: 1;
	transition: opacity var(--animation-duration) var(--timing-function),
		visibility var(--animation-duration) var(--timing-function);

	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.hero-backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.hero-modal {
	position: absolute;

	transform: translate(-50%, -50%) scale(1);
	transform-origin: top left;
	transition: transform var(--animation-duration) var(--timing-function);

	width: 90%;

	top: 50%;
	left: 50%;
	padding: 40px;

	z-index: 1;

	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	.hero-backdrop.is-hidden & {
		transform: scale(0.9) translate(-50%, -50%);
	}

	@include tel {
		max-width: 100%;
		width: 450px;
	}

	@include desk {
		width: 528px;
		height: 581px;
	}
}

.hero-modal__close-btn {
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;

	display: flex;
	flex-basis: 30px;
	min-width: 30px;
	min-height: 30px;
	border-radius: 50%;

	align-items: center;
	justify-content: center;

	background-color: var(--primary-white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	outline-color: transparent;

	transition: outline-color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		outline-color: var(--accent-color);
	}
}

.icon__close {
	width: 18px;
	height: 18px;

	fill: #000;
	transition: fill var(--animation-duration) var(--timing-function);

	.hero-modal__close-btn:hover &,
	.hero-modal__close-btn:focus & {
		fill: var(--accent-color);
	}
}

.hero-modal__title {
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: var(--title-text-color);

	@media screen and (max-width: 479px) {
		font-size: 18px;
		line-height: 1.3;
	}

	@media screen and (max-width: 1199px) {
		line-height: 1.5;
	}
}

.form-contacts-item {
	margin-bottom: 10px;
}

.form-contacts-item__label {
	display: block;
	margin-bottom: 4px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}

.form-item-wrap__input {
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 42px;

	border-radius: 4px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	outline-color: transparent;

	transition: border-color var(--animation-duration) var(--timing-function);

	&:focus {
		border-color: var(--accent-color);
		border-width: 2px;
	}
}

.form-item-wrap__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	fill: var(--title-text-color);
	transition: fill var(--animation-duration) var(--timing-function);

	.form-item-wrap__input:focus + & {
		fill: var(--accent-color);
	}
}

.form-item-wrap {
	position: relative;
}

.label-textarea {
	margin-bottom: 20px;
}

.label-textarea__textarea {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-top: 4px;
	resize: none;

	border-radius: 4px;
	outline-color: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);

	transition: border-color var(--animation-duration) var(--timing-function);

	&:focus {
		border-color: var(--accent-color);
		border-width: 2px;
	}
}

.label-textarea__textarea::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);

	@include desk {
		font-size: 12px;
		line-height: 1.16;
	}
}

.policy-container {
	margin-bottom: 30px;
}

.policy-label__checkbox-new {
	display: inline-block;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	margin-right: 8px;

	transition: fill var(--animation-duration) var(--timing-function),
		background-color var(--animation-duration) var(--timing-function),
		border-color var(--animation-duration) var(--timing-function);

	fill: transparent;
	background-color: transparent;

	.policy-label__checkbox:focus-visible + & {
		border: 2px solid var(--accent-color);
	}
	.policy-label__checkbox:checked + & {
		fill: var(--primary-white-color);
		background-color: var(--accent-color);
		border: transparent;
	}
}

.policy-label {
	width: 100%;

	font-weight: 400;

	font-size: 12px;
	line-height: 1.17;

	color: var(--primary-text-color);

	@include desk {
		margin-left: 8px;
		font-size: 14px;
		line-height: 1.71;
	}
}

.policy-text {
	display: inline-block;
	letter-spacing: 0.03em;
}

.policy-link {
	text-decoration-skip-ink: none;
	color: var(--accent-color);
	outline-color: transparent;
	transition: outline-color var(--animation-duration) var(--timing-function);

	&:focus {
		outline-color: var(--accent-color);
	}
}
