.header-border {
	border-bottom: 1px solid #ececec;
}

.all-nav {
	@media screen and (max-width: 767px) {
		width: 100%;
		max-width: 480px;
		height: 100vh;
		padding: 48px 40px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@include tab {
		display: flex;
		justify-content: space-between;
	}
}

.flex-nav,
.left-nav {
	display: flex;

	@media screen and (max-width: 767px) {
		justify-content: space-between;
		align-items: center;
	}
}

.left-nav {
	@include tab {
		margin-left: 93px;
	}
}

.left-nav-menu {
	@include tab {
		display: flex;
		align-items: center;
	}
}

.menu-bottom {
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-bottom: auto;
		margin-top: auto;
	}
}

.right-nav {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 64px;

	@include tab {
		display: block;
		margin-left: auto;

		margin-top: auto;
		margin-bottom: auto;
	}

	@include desk {
		display: flex;
		flex-direction: row;

		align-items: center;
		margin-left: auto;
	}
}

.menu-item {
	position: relative;
	padding-bottom: 32px;

	@include tab {
		&:not(:first-child) {
			margin-left: 50px;
		}
		padding: 0;
	}
}

.menu-item__text {
	display: block;

	padding: 0;

	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);

	transition: color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@include tab {
		padding: 32px 0;
	}

	@media screen and (max-width: 767px) {
		font-size: 40px;
		line-height: 1.17;
	}
}

.menu-item__text--current::after {
	@include tab {
		content: "";
		display: block;

		position: absolute;
		bottom: -1px;
		left: 50%;
		transform: translate(-50%, 0);

		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--accent-color);
	}
}

.contact-mail__icon,
.contact-tel__icon {
	display: none;
	@include tab {
		display: block;
		margin-right: 10px;

		fill: currentColor;
	}
}

.contact-mail,
.contact-tel {
	font-size: 34px;

	line-height: 1.17;
	letter-spacing: 0.02em;
	font-weight: 500;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	display: flex;
	align-items: center;

	transition: color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (max-width: 479px) {
		font-size: 24px;
	}

	@include tab {
		font-size: 14px;
		line-height: 1.14;
	}

	@include desk {
		padding: 32px 0;
	}
}

.contact-mail {
	@media screen and (max-width: 767px) {
		font-size: 24px;
		line-height: 1.16;
	}

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-top: 21px;
		margin-bottom: 10px;
	}
}

.contact-tel {
	@media screen and (max-width: 767px) {
		color: var(--accent-color);
		margin-bottom: 32px;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		padding-bottom: 21px;
	}
	@include desk {
		padding-bottom: 32px;
	}
}

.current {
	color: var(--accent-color);
}

.contact-item:not(:first-child) {
	@include desk {
		margin-left: 30px;
	}
}

.menu-socials {
	margin-top: auto;

	display: flex;
	justify-content: start;
	flex-wrap: wrap;

	@include tab {
		display: none;
	}
}

.menu-socials__item {
	padding-right: 10px;
	&:not(:last-child) {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}
	&:not(:first-child) {
		padding-left: 10px;
	}
}

.menu-socials__link {
	color: var(--accent-color);
}

.menu-container {
	width: 100%;
	@media screen and (max-width: 767px) {
		position: fixed;
		z-index: 1;

		left: 0;
		top: 0;

		width: 100vw;
		height: 100vh;

		background-color: var(--primary-white-color);

		transform: translateX(100%);

		transition: transform var(--animation-duration) var(--timing-function);
	}
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-button {
	display: inline-flex;

	padding: 0;
	border: 0;
	background-color: transparent;

	transition: fill var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}

	@include tab {
		display: none;
	}
}

.menu-button-close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 0;

	border: 0;
	background-color: transparent;

	transition: fill var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		fill: var(--accent-color);
	}

	@include tab {
		display: none;
	}
}

.menu-button-close__icon-close {
	display: none;
}

.menu-button__icon-menu {
	display: block;
}

.menu-container.is-open .menu-button-close__icon-close {
	display: block;
}

.menu-container.is-open .menu-button__icon-menu {
	display: none;
}
