/* team */

.team {
	background-color: var(--team-bg-color);
}

.team-container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.team-title {
	margin-top: 0;
	margin-bottom: 50px;
}

.team-list {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

.team-item {
	height: 428px;

	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	&:not(:first-child) {
		margin-left: 30px;
	}
}

.team-holder {
	padding: 30px 32px;
}

.team-holder__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 10px;
}

.team-holder__role {
	font-size: 16px;
	line-height: 1.19;
	color: var(--primary-text-color);
	text-align: center;
	margin-bottom: 16px;
}

.team-socials {
	display: flex;
	justify-content: space-between;
}

.team-social__link {
	display: block;
	border-radius: 50%;
	width: 44px;
	height: 44px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	color: var(--social-links);

	transition: background-color var(--animation-duration) var(--timing-function),
		color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--primary-white-color);
		background-color: var(--accent-color);
	}
}

.social__icon {
	fill: currentColor;
}
