/* team */

.team {
	background-color: var(--team-bg-color);
	@mixin tel {
	}

	@mixin tab {
	}

	@mixin deak {
	}
}

.team-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;

	@mixin tel {
		width: 480px;
	}

	@mixin tab {
		width: 768px;
	}

	@mixin deak {
		width: 1200px;
	}
}

.team-title {
	margin-top: 0;
	margin-bottom: 30px;

	@mixin deak {
		margin-bottom: 50px;
	}
}

.team-list {
	padding: 0;
	margin: 0;

	@mixin tab {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: -15px;
	}
}

.team-item {
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	@mixin tel {
		height: 622px;
		width: 450px;
	}

	@media screen and (max-width: 767px) {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	@mixin tab {
		height: 536px;
		width: 354px;

		margin: 15px;
	}

	@mixin deak {
		width: 270px;
		height: 428px;
	}
}

.team-item__img {
	width: 100%;
}

.team-holder {
	padding: 30px 32px;
	margin-left: auto;
	margin-right: auto;
}

.team-holder__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 10px;
}

.team-holder__role {
	font-size: 16px;
	line-height: 1.19;
	color: var(--primary-text-color);
	text-align: center;
	margin-bottom: 16px;
}

.team-socials {
	text-align: center;

	display: flex;
	justify-content: center;
}

.team-social {
	&:not(:first-child) {
		margin-left: 10px;
	}
}

.team-social__link {
	border-radius: 50%;
	width: 44px;
	height: 44px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	color: var(--social-links);

	transition: background-color var(--animation-duration) var(--timing-function),
		color var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--primary-white-color);
		background-color: var(--accent-color);
	}
}

.social__icon {
	fill: currentColor;
}
