/* -------works------- */

.works-container {
	padding-left: -15px;
	padding-right: -15px;
	margin-top: -15px;
	margin-right: auto;
	margin-left: auto;

	@mixin tel {
		width: 480px;
	}

	@mixin tab {
		width: 768px;
	}

	@mixin desk {
		width: 1200px;
	}
}

.works-list {
	display: flex;
	flex-wrap: wrap;
}

.works-link__backdrop {
	position: relative;
	overflow: hidden;
}

.works-card__img {
	display: block;
}

.works-backdrop {
	position: absolute;

	transform: translateY(0);
	transition: transform var(--animation-duration) var(--timing-function);

	overflow-y: auto;

	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(33, 150, 243, 0.9);

	.works-link:hover &,
	.works-link:focus & {
		transform: translateY(-100%);
	}
}

.works-backdrop__text {
	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.56;
	color: var(--primary-white-color);

	@mixin tel {
		padding: 77px 24px;
	}

	@mixin tab {
		padding: 49px 24px;
	}

	@mixin desk {
		padding: 63px 24px;
	}
}

.works-item {
	margin-bottom: 15px;

	background-color: var(--primary-white-color);

	@mixin tel {
		width: 450px;
	}

	@mixin tab {
		margin: 15px;
		width: 354px;
	}

	@mixin desk {
		width: 370px;
	}
}

.works-link {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	transition: box-shadow var(--animation-duration) var(--timing-function);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
}

.works-card__img {
	width: 100%;
}

.works-link__bottom {
	flex-grow: 1;
	padding: 20px 24px;

	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}

.works-content__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin: 0;
	margin-bottom: 4px;
	color: var(--title-text-color);
}

.works-content__text {
	font-size: 16px;
	line-height: 1.87;
	color: var(--primary-text-color);
}
