/* -------works-buttons------- */

.works-buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;

	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	@include tab {
		margin-bottom: 30px;
	}

	@include desk {
		margin-bottom: 50px;
	}
}

.work-buttons-item__btn {
	margin-left: 8px;

	@media screen and (max-width: 767px) {
		margin-top: 15px;
	}
}
