body {
	margin: 0;
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;

	color: var(--title-text-color);
	background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* -------All site------- */

*,
::after,
::before {
	box-sizing: border-box;
}

.title {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;

	@include desk {
		font-size: 36px;
	}
}

.link {
	text-decoration: none;
}

.list {
	list-style: none;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;

	@include tel {
		width: 480px;
	}

	@include tab {
		width: 768px;
	}

	@include desk {
		width: 1200px;
	}
}

.section {
	padding-top: 60px;
	padding-bottom: 60px;

	@include desk {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}
