:root {
	--title-text-color: #212121;
	--primary-text-color: #757575;
	--primary-white-color: #ffffff;
	--accent-color: #2196f3;
	--accent-color-hover: #188ce8;
	--team-bg-color: #f5f4fa;
	--footer-bg-color: #2f303a;
	--temporary-bg-color: #2f303a;
	--social-links: #afb1b8;

	--animation-duration: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
